<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="#"><img src="assets/img/Fru_Veg_free-file.png" width="71" height="73"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse text-end" id="navcol-1">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="#" style="padding-right: 16px;margin-left: 27px;margin-right: 28px;">PRODUCTS</a></li>
                    <li class="nav-item"></li>
                </ul><a class="btn btn-primary ms-auto" role="button" href="/cart.html">SEE CART</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1 class="text-center" style="margin-bottom: 15px;">PAYMENT UNSUCCESSFUL</h1>
        <p>Aenean donec curabitur etiam interdum. Risus commodo a torquent, rhoncus aptent ut erat bibendum ad. Turpis ornare ad luctus in netus, lacinia sit at arcu</p>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
</body>

</html>